<div *ngIf="(artworks | async); else loading">  
  <form [formGroup]="filterForm"  >
    <div nxLayout="grid" class="nx-margin-y-m">
      <div nxRow>
        <div nxCol="12, 12, 6">
          <nx-formfield nxLabel="Filter:">

            <nx-multi-select
                placeholder="Style"
                [options]="FilterArtworkOption"
                [selectLabel]="selectLabel"
                [selectValue]="selectValue"
                formControlName="filterArtwork"
                (selectionChange)="onChangeFilter()"
            ></nx-multi-select>
          </nx-formfield>
        </div>
        <div nxCol="12, 12, 6">
          <nx-formfield nxLabel="Sort By:">
            <nx-dropdown formControlName="sortArtwork" >
                <nx-dropdown-item 
                  *ngFor="let sort of sortOption"
                  nxValue="{{sort.value}}"
                  (selectionChange)="onChangeSorting()">
                </nx-dropdown-item>
            </nx-dropdown>
         </nx-formfield>
        </div>
      </div>
    </div>
  </form>

  <div nxLayout="grid" class="nx-margin-y-m">  
      <div nxRow >    
          <div nxCol="12,12,6,4,3" *ngFor="let artwork of artworks | async">
              <nx-card class="nx-margin-y-s">
                <figure nxFigure>       
                  <img 
                    *ngIf="artwork.image_id; else showPlaceHolder"
                    class="image" 
                    [src]="imageUrl+ '/' + artwork.image_id + '/full/843,/0/default.jpg'"
                    [title]="artwork.title"
                    [alt]="artwork.title" />
                    <ng-template #showPlaceHolder>
                      <img                 
                        class="image" 
                        src="assets/logos/Art_Institute_of_Chicago_logo.svg" 
                        title="Art_Institute_of_Chicago_logo"
                        alt="Art_Institute_of_Chicago_logo" />
                    </ng-template>   
                  </figure>

                  <h3>{{artwork.title}}</h3>
                  <h4>{{artwork.artist_title}}</h4>
                  <p *ngIf="!artwork.date_start && !artwork.date_end; else showDate">{{artwork.place_of_origin}}</p>
                  <ng-template #showDate>
                      <p *ngIf="artwork.date_start == artwork.date_end; else showAll">{{artwork.place_of_origin}}({{artwork.date_start}})</p>
                      <ng-template #showAll>
                        <p>{{artwork.place_of_origin}} ({{artwork.date_start}} {{artwork.date_end}})</p>
                      </ng-template>
                  </ng-template>
                  <p>{{artwork.medium_display}}</p>
              </nx-card>
          </div>        
      </div>
  </div>
  </div>
  <div nxLayout="grid" class="nx-margin-y-m">
    <div nxRow>
      <div nxCol="4" nxColOffset="4">
        <nx-pagination
          [nxCount]="count"
          [nxPage]="page"
          [nxPerPage]="perPage"
          nxType="advanced"
          (nxGoPrev)="prevPage()"
          (nxGoNext)="nextPage()"
          (nxGoPage)="goToPage($event)"
        >
        </nx-pagination>
      </div>
    </div>
  </div>
  
<ng-template #loading>
  <div nxLayout="grid" class="nx-margin-y-m">
    <div nxRow>
      <div nxCol="1" nxColOffset="6">
        <nx-spinner nxSize="large"></nx-spinner>
      </div>
    </div>
  </div>
</ng-template>